.markdown-table-container {
  position: relative;
  background-color: white;
  text-align: center;
}

.copy-button,
.copy-button-view {
  align-items: center;
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  z-index: 1;
}

.copy-button-view {
  position: absolute;
  top: 0;
  right: 0;
}

.copy-icon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  vertical-align: middle;
}

.copy-button:hover,
.copy-button-view:hover {
  transform: translate(0.35px, -0.35px);
  opacity: 0.6;
}

.copy-button.clicked:after,
.copy-button-view.clicked:after {
  content: "Copied!";
  position: absolute;
  top: -30px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  padding: 4px 8px;
  border-radius: 4px;
  transition: opacity 1s ease-in-out;
}

.markdown-table {
  border-collapse: collapse;
  width: 100%;
}

.markdown-table th,
.markdown-table td {
  padding: 2px;
  border: 1px solid #ddd;
}

.markdown-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}